<mat-form-field appearance="outline" class="w-full">
  <mat-select
    [formControl]="control"
    [placeholder]="fieldConfig.placeholder || '--Choose From Below--'"
  >
    <mat-option [value]="null">-- SELECT ONE --</mat-option>
    @for (option of fieldConfig.options; track $index) {
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

@if (control.touched && control.hasError('required')) {
  <div class="text-xs italic text-red-500 flex justify-start items-start">
    <mat-icon style="font-size: 16px; font-weight: 500">error_outline</mat-icon>
    <mat-error class="text-red-500!">Required.</mat-error>
  </div>
}
