<h2 mat-dialog-title class="text-primary font-bold text-center">Form Settings</h2>
<mat-dialog-content class="flex flex-col gap-4 p-10">
  <div class="mt-10">
    <mat-form-field appearance="outline">
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="myPicker" [(ngModel)]="data.deadline">
      <mat-datepicker-toggle matIconSuffix [for]="myPicker"></mat-datepicker-toggle>
      <mat-datepicker #myPicker></mat-datepicker>
    </mat-form-field>
  </div>

  @if (data.deadline) {
  <div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Custom Close Message</mat-label>
      <textarea matInput rows="1" [(ngModel)]="data.closeMessage"></textarea>
    </mat-form-field>
    <!--<button mat-button color="warn" (click)="clearDeadline()" class="mt-2">
      <mat-icon>delete_sweep</mat-icon> Remove Deadline
    </button>-->
  </div>
  }
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Maximum Responses</mat-label>
      <input matInput type="number" [(ngModel)]="data.maxResponses">
    </mat-form-field>
  </div>
  <div class="flex items-center gap-6">
    <mat-slide-toggle [(ngModel)]="data.isPrivate" color="primary">
      <!-- (change)="onQuizToggle()"  -->
      Private Form
    </mat-slide-toggle>
  </div>
  <div class="flex flex-col gap-4 mt-2">
    <mat-slide-toggle [(ngModel)]="data.isQuizMode" color="primary">
      Enable Quiz Mode
    </mat-slide-toggle>

    @if (data.isQuizMode) {
    <div class="pl-8 flex flex-col gap-3 border-l-2 border-primary/20">

      <mat-slide-toggle [(ngModel)]="data.showScore">
        Show scores after submission
      </mat-slide-toggle>

      <div class="flex items-center gap-4">
        <mat-form-field appearance="outline" class="w-32">
          <mat-label>Default Points</mat-label>
          <input matInput type="number" [(ngModel)]="data.defaultPointsPerField">
        </mat-form-field>
      </div>
    </div>
    }
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>