<div class="flex h-screen items-center justify-center bg-gray-100">
  <div class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8 mx-6">
    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold text-slate-800">FormFlow</h1>
      <p class="text-sm text-slate-500 mt-1">Sign up to your account</p>
    </div>

    <form (ngSubmit)="onSignup()" class="flex flex-col gap-y-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="username"
          name="username"
          minlength="3"
          (input)="onUsernameChange($any($event.target).value)"
          required
        />
        <mat-hint class="flex justify-start items-center w-full italic text-xs font-medium mt-1">
          @if (username.length >= 3) {
            @if (usernameExists()) {
              <mat-icon style="color: #fb2c36">cancel</mat-icon>
              <span class="text-red-500 ml-1">Username Already Taken</span>
            } @else {
              <mat-icon style="color: oklch(72.3% 0.219 149.579)"
                >check_circle_outline</mat-icon
              >
              <span class="text-green-500 ml-1">Username Available</span>
            }
          }
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          minlength="6"
        />
      </mat-form-field>

      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
            minlength="6"
          />
        </mat-form-field>

        @if (this.password !== this.confirmPassword) {
          <div class="text-xs italic text-red-500 flex justify-start items-start">
            <mat-icon style="font-size: 16px; font-weight: 500">error_outline</mat-icon>
            <mat-error class="text-red-500! relative -top-1">Field should match password</mat-error>
          </div>
        }
      </div>

      <button
        mat-raised-button
        type="submit"
        class="w-full h-11 text-base font-semibold btn-primary opacity-90 hover:opacity-100 cursor-pointer"
      >
        Sign Up
      </button>
    </form>
    <app-google-auth-button></app-google-auth-button>
    <!-- <app-github-auth-button></app-github-auth-button> -->
    <div class="flex justify-center items-center gap-3 mt-10">
      <span>Already have an account? </span>
      <a
        routerLink="/login"
        class="text-blue-500 underline opacity-70 cursor-pointer hover:opacity-100"
        >Log In</a
      >
    </div>
  </div>
</div>
