<h2 mat-dialog-title class="text-lg font-semibold text-center w-full">Field Settings</h2>

<mat-dialog-content class="dialog-content">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Validations">
      <div class="flex flex-col gap-4">
        <div *ngFor="let v of validationOptions" class="mb-3">
          <div *ngIf="typeof v.value === 'boolean'">
            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" [(ngModel)]="v.value" />
              <span>{{ v.label }}</span>
            </label>
          </div>

          <div *ngIf="typeof v.value === 'number' || v.value === null">
            <label class="block text-sm mb-1 font-medium">
              {{ v.label }}
            </label>

            <input type="number" [(ngModel)]="v.value"
              class="border p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-indigo-400"
              placeholder="Enter value" />
          </div>

          <div *ngIf="v.key === 'fileType'">
            <label class="block text-sm mb-2 font-medium">
              {{ v.label }}
            </label>

            <div class="flex flex-wrap gap-3">
              <label *ngFor="let type of availableFileTypes" class="flex items-center gap-2 cursor-pointer">
                <input type="checkbox" [checked]="v.value.includes(type)"
                  (change)="onFileTypeChange(v, type, $event.target.checked)" />
                <span class="uppercase">{{ type }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Logic">
      <app-conditional-logic [logicData]="field.fieldLogic" [currentItemId]="field.id"
        (logicUpdated)="onLogicChange($event)">
      </app-conditional-logic>
    </mat-tab>
    @if (isQuizMode && ['RADIO', 'CHECKBOX', 'DROPDOWN'].includes(field.type)) {
    <mat-tab label="Grading">
      <app-field-quiz-config [field]="data.field" [defaultPoints]="data.field.suggestedPoints">
      </app-field-quiz-config>
    </mat-tab>
    }
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end" class="p-3 border-t flex gap-3">
  <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="isLogicInvalid"> Save
  </button>
</mat-dialog-actions>