<div class="assign-page">

  <!-- HEADER -->
  <div class="header">
    <div>
      <h1>Assign Form</h1>
      <p>Assign form to users or a group of users</p>
    </div>
  </div>

  <!-- MAIN GRID -->
  <div class="content">

    <!-- LEFT SECTION -->
    <div class="left">

      <!-- SELECT FORM -->
      <div class="card">
        <label>SELECTED FORM</label>
        <div class="select-box">
          <mat-icon>description</mat-icon>
          <div class="form-info">
            <span class="title">{{form?.title}}</span>
            <span class="sub">Created on 4th april 2026</span>
          </div>
        </div>
      </div>

      <!-- ASSIGN RECIPIENTS -->
      <div class="card">
        <div class="card-header">
          <label>ASSIGN RECIPIENTS</label>
        </div>

        <!-- SEARCH -->
        <div class="search">
          <mat-icon>search</mat-icon>
          <input type="text" placeholder="Search teams or people..." [(ngModel)]="searchText" (keyup.enter)="search()" />
        </div>


        <!-- SEARCH RESULT DROPDOWN -->
        <div *ngIf="searchedUser" class="search-result">
          <span>{{ searchedUser }}</span>
          <span>{{ searchText }}</span>
          <button (click)="addRecipient()">Add</button>
        </div>

        <!-- Group result -->
        <div *ngFor="let g of searchedGroups" class="search-result">
          <div class="left-info">
            <span class="title">{{ g.groupName }}</span>
          </div>

          <div class="right-group">
            <mat-checkbox [(ngModel)]="g.selected" (change)="updateSummary()"></mat-checkbox>

            <!-- <select class="role-dropdown" [(ngModel)]="g.role" (change)="updateSummary()">
              <option value="Viewer">Viewer</option>
              <option value="Respondent">Respondent</option>
              <option value="Editor">Editor</option>
            </select> -->
          </div>
        </div>



        <!-- LIST -->
        <div class="list">

          <div class="item" *ngFor="let r of filteredRecipients(); let i = index">
                <div class="left-info">
                    <span class="title">{{ r.name }}</span>
                    <span class="assigned-badge" *ngIf="r.preAssigned">Assigned</span>
                </div>
            
                <div class="right-group">
                  <mat-checkbox [(ngModel)]="r.selected" (change)="updateSummary()" [disabled]="r.preAssigned"></mat-checkbox>
  
                  <select class="role-dropdown" [(ngModel)]="r.role" (change)="updateSummary()" [disabled]="r.preAssigned">
                    <option value="Viewer">Viewer</option>
                    <option value="Respondent">Respondent</option>
                    <option value="Editor">Editor</option>
                  </select>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- RIGHT SECTION -->
    <div class="right">

      <!-- DEADLINE -->
      <!-- <div class="card">
        <label>SET DEADLINE</label>
        <div class="date-box">
          <mat-icon>calendar_today</mat-icon>
          <input type="date" [(ngModel)]="deadline" (change)="updateSummary()" />
        </div>
      </div> -->

      <!-- NOTE -->
      <div class="card">
        <label>RECIPIENT NOTE</label>
        <textarea rows="5" [(ngModel)]="description" placeholder="Add a note for the recipients...">Please fill the form</textarea>
      </div>

      <!-- SUMMARY -->
      <div class="summary">
        <h3>Assignment Summary</h3>

        <div class="row">
          <span>Selected Form</span>
          <strong>{{form?.title}}</strong>
        </div>

        <div class="row">
          <span>Target Audience</span>
          <strong>{{ selectedCount }} Selected</strong>
        </div>

        <div class="audience-breakdown">
          <div class="chip editor">Editor: {{ editorCount }}</div>
          <div class="chip responder">Respondent: {{ responderCount }}</div>
          <div class="chip viewer">Viewer: {{ viewerCount }}</div>
        </div>

        <!-- <div class="row">
          <span>Deadline</span>
          <strong>{{ deadline || 'NA' }}</strong>
        </div> -->


        <button class="assign-btn" (click)="assignForm()">Assign Form</button>
      </div>

    </div>
  </div>
</div>
