<div class="flex h-screen items-center justify-center bg-gray-100">
  <div class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8 mx-6">
    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold text-slate-800">FormFlow</h1>
      <p class="text-sm text-slate-500 mt-1">Change your password</p>
    </div>

    <form (ngSubmit)="changePassword()" class="flex flex-col gap-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          minlength="6"
        />
      </mat-form-field>

      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
            minlength="6"
          />
        </mat-form-field>

        @if (this.password !== this.confirmPassword) {
          <div class="text-xs italic text-red-500 flex justify-start items-start">
            <mat-icon style="font-size: 16px; font-weight: 500">error_outline</mat-icon>
            <mat-error class="text-red-500! relative -top-1" >Field should match password</mat-error>
          </div>
        }
      </div>

      <button
        mat-raised-button
        type="submit"
        class="w-full h-11 text-base font-semibold btn-primary opacity-90 hover:opacity-100 cursor-pointer"
      >
        SUBMIT
      </button>
    </form>
  </div>
</div>
