<div class="border rounded-lg p-4">
  <mat-form-field appearance="outline" class="w-full">
    <mat-select disabled placeholder="Select option">
      @for (option of fieldData.options; track option) {
        <mat-option [value]="option">
          {{ option }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="flex flex-col gap-2">
    @for (option of fieldData.options; let i = $index; track i) {
      <div class="flex items-center gap-2 group">
        <span class="text-gray-400 text-sm">•</span>

        <input
          [(ngModel)]="fieldData.options![i]"
          class="border-b border-transparent focus:border-theme outline-none text-sm w-full bg-transparent"
          placeholder="Option label"
        />

        @if (fieldData.options!.length > 1) {
          <button
            (click)="removeOption(i)"
            class="p-1 rounded-full text-red-400 hover:bg-red-50 opacity-0 group-hover:opacity-100 transition"
          >
            <mat-icon class="text-base">delete</mat-icon>
          </button>
        }
      </div>
    }

    <button
      (click)="addOption()"
      class="text-primary text-sm font-medium mt-2 text-left hover:underline"
    >
      + Add Option
    </button>
  </div>
</div>

<div class="mt-6">
  @if (fieldData.validations?.required) {
    <div class="flex justify-start items-end">
      <mat-icon
        [style.color]="'var(--mat-sys-on-surface-variant)'"
        style="font-size: 16px"
        class="relative top-1"
        >check_circle_outline</mat-icon
      >
      <span class="text-primary capitalize italic font-medium opacity-60">Required</span>
    </div>
  }
</div>

<!-- <mat-form-field appearance="outline" class="w-full">
  <mat-select>
    @for (option of fieldData.options; track option) {
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
@if (fieldData.validations?.required) {
  <mat-error>Required Field</mat-error>
} -->

@if (fieldData.fieldLogic?.enabled) {
    <div class="absolute -top-3 left-4 flex items-center gap-1.5 px-3 py-1 rounded-full bg-primary text-white shadow-md z-10">
      <mat-icon class="!w-3.5 !h-3.5 !text-[14px]">account_tree</mat-icon>
      <span class="text-[10px] font-bold uppercase tracking-tighter">Logic Enabled</span>
    </div>
}