<div class="flex h-screen items-center justify-center bg-gray-100">
  <div class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8 mx-6">
    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold text-primary">FormFlow</h1>
      <p class="text-sm text-slate-500 mt-1">
        @if (maskedEmail === '') {
          <span>Recover your account</span>
        } @else {
          <span>An OTP has been sent to {{ maskedEmail }}</span>
        }
      </p>
    </div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Username or Email</mat-label>
      <input matInput type="text" [(ngModel)]="credential" name="email" required [disabled]="maskedEmail !== ''"/>
    </mat-form-field>
    @if (takeOtp()) {
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>OTP</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="otp"
          name="otp"
          required
          placeholder="x x x - x x x"
          minlength="6"
          maxlength="6"
        />
      </mat-form-field>
      @if(!isVisible){
        <span class="text-muted opacity-70 font-medium">Sending OTP...</span>
      } @else if (timeLeft() !== 0) {
        <div class="flex justify-end items-center gap-x-2">
          <span class="text-muted opacity-70 font-medium">Resend OTP in </span>
          <app-timer [timeLeft]="timeLeft"></app-timer>
        </div>
      } @else {
        <div class="flex justify-end items-start">
          <button
            (click)="sendOtp()"
            class="text-muted hover:text-primary text-sm font-medium underline opacity-70 cursor-pointer hover:opacity-100"
          >
            Resend OTP?
          </button>
        </div>
      }
    }
    <div class="mt-6"></div>
    @if (takeOtp()) {
      <button
        (click)="verifyOtp()"
        class="w-full h-11 text-base font-semibold btn-primary opacity-90 hover:opacity-100 cursor-pointer"
      >
        Verify Otp
      </button>
    } @else {
      <button
        (click)="sendOtp()"
        class="w-full h-11 text-base font-semibold btn-primary opacity-90 hover:opacity-100 cursor-pointer"
      >
        Send Otp
      </button>
    }
  </div>
</div>
