<div class="shared-container">

  <!-- Header -->
  <div class="header">
    <div>
      <h2>My Assignments</h2>
      <p>Forms assigned to you</p>
    </div>

    <div class="header-actions">
      <input type="text" placeholder="Search forms..." 
      [(ngModel)]="searchText"
      (input)="applyFilters()" />
    </div>
  </div>

  <!-- SUMMARY CARDS -->
  <div class="summary">

    <div class="cards">
      <div class="details">
        <h3>Total Assigned Forms</h3>
        <h1>{{ totalAssigned }}</h1>
      </div>
      <mat-icon>assignment</mat-icon>
    </div>

    <div class="cards">
      <div class="details">
        <h3>Recent Forms</h3>
        <h1>{{ totalRecent }}</h1>
      </div>
      <mat-icon>history</mat-icon>
    </div>

    <div class="cards">
      <div class="details">
        <h3>Responder</h3>
        <h1>{{ totalResponder }}</h1>
      </div>
      <mat-icon>fact_check</mat-icon>
    </div>

    <div class="cards">
      <div class="details">
        <h3>Viewer</h3>
        <h1>{{ totalViewer }}</h1>
      </div>
      <mat-icon>visibility</mat-icon>
    </div>

    <div class="cards">
      <div class="details">
        <h3>Editor</h3>
        <h1>{{ totalEditor }}</h1>
      </div>
      <mat-icon>edit</mat-icon>
    </div>

  </div>

  <!-- Recent Section -->
  <div class="recent-section">
    <h3>Recently Assigned</h3>

    <p class="empty-msg" *ngIf="recentForms.length === 0">There are no recent forms assigned to you currently.</p>

    <div class="card-container" *ngIf="recentForms.length > 0">
      <div class="form-card" *ngFor="let form of recentForms"  (click)="openAssignment(form.role, form.formId)"
      style="cursor: pointer;">
        <div class="card-icon"  >
          <mat-icon>description</mat-icon>
        </div>

        <div class="card-content" >
          <h4>{{ form.formName }}</h4>
          <p>Assigned {{ form.assignedAt | date: 'dd/MM/yyyy hh:mm a'}}</p>
        </div>

        <span class="role" [ngClass]="form.role?.toLowerCase()">
          {{ form.role }}
        </span>
      </div>
    </div>
  </div>

  <!-- All Assigned Forms -->
  <div class="table-section">

    <div class="table-header">
      <div class="header-top">
        <h3>All Assigned Forms</h3>
      
        <!-- <div class="tabs">
          <button class="active">Active</button>
          <button>Archived</button>
        </div> -->
      </div>

      <div class="header-bottom">
        <div class="filters">
          <input
            type="text"
            placeholder="Filter by role"
            [(ngModel)]="roleFilter"
            (input)="applyFilters()"
          />
        </div>
      </div>
    </div>

    <div class="table">

      <div class="table-row header-row">
        <span>Form Name</span>
        <span>Assigned By</span>
        <span>Role</span>
        <span>Date Assigned</span>
        <span>Action</span>
      </div>

      <div class="table-row" *ngFor="let form of paginatedForms">
        <span class="form-name">
          <mat-icon>description</mat-icon>
          {{ form.formName }}
        </span>

        <span>
          {{ form.assignedBy }}
        </span>

        <span>
          <span [ngClass]="form.role.toLowerCase()">
            {{ form.role }}
          </span>
        </span>

        <span>{{ form.assignedAt | date: 'dd/MM/yyyy hh:mm a'}}</span>

        <span>
          <button class="open-btn" (click)="openAssignment(form.role, form.formId)">Open</button>
        </span>
      </div>

    </div>

    <div class="pagination">
  
  <!-- Previous -->
  <button (click)="prevPage()" [disabled]="currentPage === 1">
    &lt;
  </button>

  <!-- Page Numbers -->
  <button 
    *ngFor="let page of [].constructor(totalPages); let i = index"
    (click)="goToPage(i + 1)"
    [class.active]="currentPage === i + 1"
  >
    {{ i + 1 }}
  </button>

  <!-- Next -->
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">
    &gt;
  </button>

</div>

  </div>
</div>