<div class="flex flex-col">
  @for (option of fieldConfig.options; track $index) {
    <mat-checkbox
      [checked]="control.value?.includes(option)"
      (change)="onChange(option, $event.checked)"
    >
      {{ option }}
    </mat-checkbox>
  }
</div>
@if (control.touched && control.hasError('required')) {
  <div class="text-xs italic text-red-500 flex justify-start items-start">
    <mat-icon style="font-size: 16px; font-weight: 500">error_outline</mat-icon>
    <mat-error class="text-red-500!">Required.</mat-error>
  </div>
}