<div
  (click)="fileInput.click()"
  class="flex items-center justify-between px-4 py-2 mb-3 border border-theme hover:outline-1 rounded-lg cursor-pointer transition"
>
  <span class="text-gray-500 text-sm">
    {{ fieldData.placeholder }}
  </span>

  <span class="text-primary text-sm font-medium"> Browse </span>
</div>
<input type="file" #fileInput class="hidden" />
@if (fieldData.validations?.required) {
  <div class="flex justify-start items-end">
    <mat-icon [style.color]="'var(--mat-sys-on-surface-variant)'" style="font-size: 16px;" class="relative top-1">check_circle_outline</mat-icon>
    <span class="text-primary capitalize italic font-medium opacity-60">Required</span>
  </div>
}
@if (fieldData.validations?.fileType) {
  <div class="flex items-end justify-start">
    <mat-icon [style.color]="'var(--mat-sys-on-surface-variant)'" style="font-size: 16px;"  class="relative top-1">description</mat-icon>
    <span class="text-primary capitalize italic font-medium opacity-60">
      Allowed File Types: <span class="text-muted">{{ formatFileTypes(fieldData.validations?.fileType || '') }}</span>
    </span>
  </div>
}
@if (fieldData.validations?.maxSize) {
  <div class="flex items-end justify-start">
    <mat-icon [style.color]="'var(--mat-sys-on-surface-variant)'" style="font-size: 16px;"  class="relative top-1">storage</mat-icon>
    <span class="text-primary capitalize italic font-medium opacity-60">
      Max size: <span class="text-muted">{{ fieldData.validations?.maxSize }} KB</span>
    </span>
  </div>
}

@if (fieldData.fieldLogic?.enabled) {
    <div class="absolute -top-3 left-4 flex items-center gap-1.5 px-3 py-1 rounded-full bg-primary text-white shadow-md z-10">
      <mat-icon class="!w-3.5 !h-3.5 !text-[14px]">account_tree</mat-icon>
      <span class="text-[10px] font-bold uppercase tracking-tighter">Logic Enabled</span>
    </div>
}