<mat-form-field appearance="outline" class="w-full">
  <input
    matInput
    [formControl]="control"
    [type]="fieldConfig.type || 'text'"
    [placeholder]="fieldConfig.placeholder || 'Enter here'"
  />
</mat-form-field>
@if (control.touched && control.hasError('required')) {
  <div class="text-xs italic text-red-500 flex justify-start items-start">
    <mat-icon style="font-size: 16px; font-weight: 500">error_outline</mat-icon>
    <mat-error class="text-red-500!">Required.</mat-error>
  </div>
}
@if (control.touched && control.hasError('email')) {
  <div class="text-xs italic text-red-500 flex justify-start items-start">
    <mat-icon style="font-size: 16px; font-weight: 500">error_outline</mat-icon>
    <mat-error class="text-red-500!">You must give a valid email</mat-error>
  </div>
}
@if (control.touched && control.hasError('minlength')) {
  <div class="text-xs italic text-red-500 flex justify-start items-start">
    <mat-icon style="font-size: 16px; font-weight: 500">error_outline</mat-icon>
    <mat-error class="text-red-500!">Minimum Length Criteria not met</mat-error>
  </div>
}
@if (control.touched && control.hasError('maxlength')) {
  <div class="text-xs italic text-red-500 flex justify-start items-start">
    <mat-icon style="font-size: 16px; font-weight: 500">error_outline</mat-icon>
    <mat-error class="text-red-500!">Maximum length exceeded</mat-error>
  </div>
}
