@import "tailwindcss";

@utility bg-primary {
  background-color: var(--mat-sys-primary);
}

@utility bg-surface {
  background-color: var(--mat-sys-surface);
}

@utility bg-accent {
  background-color: var(--mat-sys-on-surface-variant);
}

@utility bg-container {
  background-color: var(--mat-sys-surface-container);
}

@utility text-primary {
  color: var(--mat-sys-primary);
}

@utility text-muted {
  color: var(--mat-sys-on-surface-variant);
}

@utility border-theme {
  border-color: var(--mat-sys-outline);
}

@utility btn-primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

