<div class="p-4 flex flex-col gap-6">
  <div class="flex items-center gap-2 text-primary opacity-80">
    <h3 class="font-bold uppercase tracking-wider text-sm">Scoring Rules</h3>
  </div>

  <div class="bg-container p-4 rounded-xl border border-theme flex items-center justify-between">
    <div>
      <p class="font-semibold text-primary">Enable Scoring</p>
      <p class="text-xs text-muted">Include this field in the total quiz grade.</p>
    </div>
    <mat-slide-toggle [(ngModel)]="field.quizConfig.isScored" (ngModelChange)="onValueChange()" color="primary"></mat-slide-toggle>
  </div>

  @if (field?.quizConfig?.isScored) {
  <div class="flex-col gap-4 animate-in fade-in duration-300">
    <mat-form-field appearance="outline">
      <mat-label>Correct Answer Points</mat-label>
      <input matInput type="number" [(ngModel)]="field.quizConfig.points" (ngModelChange)="onValueChange()" min="0">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Negative Marks</mat-label>
      <input matInput type="number" [(ngModel)]="field.quizConfig.negativeMarks" (ngModelChange)="onValueChange()" min="0">
      <mat-hint class="text-[10px] text-muted mt-2 italic">
      Penalty for wrong answer
      </mat-hint>
    </mat-form-field>
  </div>

  <!-- <div class="mt-2">
    <p class="text-xs font-bold text-muted uppercase mb-2">Answer Key Verification</p>
    <div class="space-y-2">
      <div *ngFor="let opt of field.fieldConfig?.options"
        class="flex items-center gap-2 p-2 rounded-lg border border-dashed"
        [ngClass]="opt.isCorrect ? 'border-green-500 bg-green-50/50' : 'border-gray-200'">
        <mat-icon [class.color]="opt.isCorrect ? 'primary' : ''" class="text-sm">
          {{ opt.isCorrect ? 'check_circle' : 'circle' }}
        </mat-icon>
        <span class="text-sm" [class.font-bold]="opt.isCorrect">{{ opt.label }}</span>
      </div>
    </div>
    <p class="text-[10px] text-muted mt-2 italic">
      * Change correct answers directly on the form canvas.
    </p>
  </div> -->
  }
</div>