<div class="flex h-screen flex-col overflow-hidden bg-white-100">
  <div class="h-16 bg-container flex items-center justify-between px-4 md:px-8 shadow-sm shrink-0">
    <input [(ngModel)]="formTitle"
      class="sm:block text-lg md:text-xl font-bold border-none focus:ring-0 text-primary w-1/3"
      placeholder="Form Title">
    <div class="flex gap-1 md:gap-4">
      <app-theme-selector matTooltip="Theme"></app-theme-selector>
      <button mat-icon-button (click)="openSettings()" matTooltip="Form Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="openPreview()" matTooltip="Preview form">
        <mat-icon class="text-sm">visibility</mat-icon>
      </button>
      @if(mode === 'version') {
      <button mat-button color="primary" class="btn-primary action-button" (click)="saveVersion(true)">
        <mat-icon>save</mat-icon>
        <span class="hidden sm:inline">Publish Version</span>
      </button>
      <button mat-button color="primary" class="btn-primary action-button" (click)="saveVersion(false)">
        <mat-icon>save</mat-icon>
        <span>Draft Version</span>
      </button>
      }
      @else{
        <div class="flex items-center gap-3">
      <button mat-button class="btn-primary action-button" matTooltip="Save Draft" (click)="saveForm(false)">
        <mat-icon>save</mat-icon>
        <span class="hidden sm:inline">Draft</span>
      </button>
      <button mat-button class="btn-primary action-button" matTooltip="Publish form" (click)="saveForm(true)">
        <mat-icon>rocket</mat-icon>
        <span class="hidden sm:inline">Publish</span>
      </button>
      </div>
      }
    </div>
  </div>

  <!-- Sidebar -->
  <div class="flex flex-col md:flex-row h-screen w-full overflow-hidden">

    <div
      class="sidebar-container bg-surface border-t md:border-t-0 md:border-r border-theme transition-all duration-500 ease-in-out z-[100]"
      [ngClass]="isMobile 
      ? (isDrawerOpen ? 'fixed bottom-0 left-0 right-0 h-[400px] shadow-2xl rounded-t-3xl' : 'fixed bottom-0 left-0 right-0 h-16 shadow-lg rounded-t-xl') 
      : 'w-72 h-full relative flex-shrink-0'" cdkDropList id="sidebar" #sidebarList="cdkDropList"
      [cdkDropListConnectedTo]="sectionsIds" [cdkDropListData]="elements" [cdkDropListSortingDisabled]="true">

      <div *ngIf="isMobile" (click)="toggleDrawer()" class="flex flex-col items-center py-2 cursor-pointer">
        <div class="w-12 h-1 bg-gray-300 rounded-full mb-2"></div>
        <div class="flex items-center justify-between w-full px-6">
          <h3 class="font-bold text-primary uppercase tracking-widest">Form Elements</h3>
          <mat-icon class="transition-transform duration-300" [class.rotate-180]="isDrawerOpen">
            keyboard_arrow_up
          </mat-icon>
        </div>
        <p class="text-xs text-muted mt-4 italic">Drag and Drop elements directly into any section to add them.</p>
      </div>

      <div class="p-4 overflow-y-auto" [class.h-[340px]]="isMobile" [class.hidden]="isMobile && !isDrawerOpen">
        <h3 *ngIf="!isMobile" class="font-semibold text-primary opacity-80 uppercase mb-4">Form Elements</h3>

        <div [ngClass]="isMobile ? 'grid grid-cols-2 gap-3 pb-10' : 'flex flex-col gap-3'">
          <div *ngFor="let tool of elements" cdkDrag [cdkDragData]="tool"
            class="p-4 border rounded-lg bg-white cursor-pointer hover:bg-container transition-all active:scale-95 shadow-sm">
            <div class="flex items-center gap-3">
              <mat-icon class="text-muted text-sm">add_circle_outline</mat-icon>
              <span class="text-sm font-medium text-muted">{{ tool.label }}</span>
            </div>
          </div>
        </div>
      </div>
      <p class="ml-1 p-3 text-xs text-muted mt-4 italic">Drag and Drop elements directly into any section to add them.</p>
    </div>
    <!-- Sidebar -->

    <div class="flex-1 p-4 md:p-10 overflow-y-auto"
      [style.marginBottom]="isMobile ? (isDrawerOpen ? '450px' : '64px') : '0px'">
      <div class="max-w-full md:max-w-3xl mx-auto flex flex-col gap-6 md:gap-10" cdkDropList
        [cdkDropListData]="formSections" (cdkDropListDropped)="onSectionDrop($event)">

        <div class="header-container bg-surface p-4 border-b overflow-hidden flex flex-col">
          <div class="flex justify-between">
            <input [(ngModel)]="formTitle"
              class="text-3xl font-bold border-none  focus:ring-0 text-primary outline-none" placeholder="Form Title">
            <div *ngIf="formSettings?.isQuizMode"
              class="flex items-center bg-container text-primary px-3 py-1 rounded-full border border-theme">
              <mat-icon class="text-sm mr-1">emoji_events</mat-icon>
              <span class="text-xs font-bold">TOTAL POINTS: {{ totalQuizScore }}</span>
            </div>
            <button mat-icon-button (click)="addSection()" matTooltip="Add a new section">
              <mat-icon>add_to_photos</mat-icon>
            </button>
          </div>
          <div>
            <textarea [(ngModel)]="formDescription" placeholder="Add a description"
              class="text-gray-600 border-none outline-none resize-none focus:ring-0 w-full" rows="2"></textarea>
          </div>
        </div>

        <div *ngFor=" let section of formSections; let sectionIndex=index" cdkDrag
          class="bg-surface rounded-xl shadow-md overflow-hidden">

          <div class="bg-surface p-4 border-b border-gray-300 flex justify-between items-center">
            <mat-icon cdkDragHandle class="cursor-move text-muted" matTooltip="Drag to reorder section">
              drag_indicator
            </mat-icon>


            <input [(ngModel)]="section.title"
              class="bg-transparent font-bold text-lg border-none text-primary opacity-90 focus:ring-1 focus:ring-(--mat-sys-primary) rounded px-2">
            <div class="flex gap-3">

              <button mat-icon-button color="primary" (click)="duplicateSection(sectionIndex)"
                matTooltip="Duplicate Section">
                <mat-icon>content_copy</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="removeSection(sectionIndex)"
                [disabled]="formSections.length === 1" matTooltip="Remove Section">
                <mat-icon>delete_sweep</mat-icon>
              </button>
            </div>
          </div>

          <div class="p-3 md:p-6 min-h-[150px]" cdkDropList [id]="section.id" [cdkDropListData]="section.fields"
            [cdkDropListConnectedTo]="[sidebarList, ...sectionsIds]"
            (cdkDropListDropped)="onDrop($event, sectionIndex)">
            <div *ngFor="let field of section.fields; let fieldIndex = index" cdkDrag
              class="group relative p-3 md:p-6 mb-4 md:mb-6 bg-surface border border-theme rounded-2xl hover:shadow-md hover:scale-[1.01] transition-all"
              [ngClass]="{
                  'border-theme border-dashed bg-container': field.fieldLogic?.enabled,
                  'border-theme bg-surface hover:shadow-md': !field.fieldLogic?.enabled
               }">

              <div class="mb-4">
                <mat-icon cdkDragHandle class="text-muted cursor-move text-base"
                  matTooltip="Drag to reorder field">drag_handle</mat-icon>
                <input [(ngModel)]="field.label"
                  (click)="selectField(sectionIndex, fieldIndex); $event.stopPropagation()" [ngStyle]="{
                            'font-size': field.fontSize,
                            'font-weight': field.bold ? 'bold' : 'normal',
                            'font-style': field.italic ? 'italic' : 'normal',
                            'text-decoration': field.underline ? 'underline' : 'none',
                            'color': field.color
                              }"
                  class="text-xs font-bold text-muted uppercase tracking-widest bg-transparent border-none focus:ring-1 focus:ring-indigo-100 rounded w-full p-1"
                  placeholder="CLICK TO EDIT LABEL">
              </div>

              <!-- Toolbar        -->
              <div *ngIf="selectedFieldIndex === fieldIndex && selectedSectionIndex === sectionIndex"
                (click)="$event.stopPropagation()"
                class="absolute -top-14 left-0 right-0 md:right-auto md:left-4 bg-surface border shadow-lg rounded-lg px-2 py-1 flex flex-wrap justify-center gap-1 z-50">

                <button (click)="field.bold = !field.bold" [class.bg-indigo-100]="field.bold"
                  class="px-2 py-1 rounded font-bold">B</button>

                <button (click)="field.italic = !field.italic" [class.bg-indigo-100]="field.italic"
                  class="px-2 py-1 rounded italic">I</button>

                <button (click)="field.underline = !field.underline" [class.bg-indigo-100]="field.underline"
                  class="px-2 py-1 rounded underline">U</button>

                <select [(ngModel)]="field.fontSize" class="border rounded px-1 text-sm"
                  (click)="$event.stopPropagation()">
                  <option value="12px">S</option>
                  <option value="15px">M</option>
                  <option value="20px">L</option>
                </select>

                <div class="flex gap-1 items-center">
                  <div *ngFor="let color of predefinedColours" (click)="field.color = color" [style.background]="color"
                    class="w-5 h-5 rounded-full cursor-pointer border hover:scale-110 transition">
                  </div>
                </div>
                <input type="color" [(ngModel)]="field.color" [value]="field.color || '#000000'"
                  (click)="$event.stopPropagation()" matTooltip="Custom Color Picker" />

              </div>
              <!-- toolbar end -->

              <div class="opacity-90">
                <app-builder-input-text *ngIf="field.type === 'TEXT' || field.type === 'number'"
                  [bluePrint]="field"></app-builder-input-text>
                <app-builder-file-upload *ngIf="field.type === 'FILE'" [bluePrint]="field"></app-builder-file-upload>
                <app-builder-check-box *ngIf="field.type === 'CHECKBOX'" [bluePrint]="field"> </app-builder-check-box>
                <app-builder-radio-button *ngIf="field.type === 'RADIO'" [bluePrint]="field"></app-builder-radio-button>
                <app-builder-select-card *ngIf="field.type === 'DROPDOWN'"
                  [bluePrint]="field"></app-builder-select-card>
                <app-builder-textarea *ngIf="field.type === 'TEXTAREA'" [bluePrint]="field"></app-builder-textarea>
              </div>

              <div
                class="absolute top-2 right-2 flex gap-1 opacity-100 md:opacity-0 group-hover:opacity-100 transition-opacity">
                <button (click)="duplicateField(sectionIndex, fieldIndex)" class="p-1.5 text-muted hover:text-primary"
                  matTooltip="Duplicate Field">
                  <mat-icon class="text-sm">content_copy</mat-icon>
                </button>
                <button (click)="editField(sectionIndex, fieldIndex)" class="p-1.5 text-muted hover:text-primary"
                  matTooltip="Field Settings">
                  <mat-icon class="text-sm">settings</mat-icon>
                </button>
                <button (click)="removeField(sectionIndex, fieldIndex)" class="p-1.5 text-muted hover:text-red-500"
                  matTooltip="Delete Field">
                  <mat-icon class="text-sm">delete</mat-icon>
                </button>
              </div>
              <div *cdkDragPlaceholder
                class="border-2 border-dashed opacity-40 border-theme bg-surface rounded-2xl h-32 mb-6"></div>
            </div>

            <div *ngIf="section.fields.length === 0"
              class="flex flex-col items-center justify-center py-12 border-2 border-dashed border-theme text-muted opacity-40 rounded-xl">
              <mat-icon class="mb-2">add_circle_outline</mat-icon>
              <p class="text-[10px] font-bold uppercase tracking-widest">Drop elements here</p>
            </div>
          </div>

          <div *cdkDragPlaceholder class="border-2 border-dashed border-theme bg-primary/10 h-64 rounded-xl"></div>
        </div>

      </div>
    </div>
  </div>
</div>